BODY {
	/* The Microsoft boneheads don't support inheritance for this
	   yet. */
/*	background: #ffeedd; */
	background: #ffffe0;
	line-height: 115%;
	font-size: 100%;
}

DIV.new {
	color: blue;
}

SPAN.old {
	color: red;
	text-decoration: line-through;
}
SPAN.new {
	color: blue;
}


DIV.old {
	color: red;
	text-decoration: line-through;
}

DIV.old TD {
	color: red;
	text-decoration: line-through;
}
DIV.old TH {
	color: red;
	text-decoration: line-through;
}

DIV.new TD {
	color: blue;
}
DIV.new TH {
	color: blue;
}

DIV.obsolete {
	color: red;
}

DIV.note {
	margin-left: 10%;
	margin-right: 10%;
}

P {
	text-indent: 1em;	/* doesn't work on ie3.0.  Too bad. */
}

P.initial {
	text-indent: 0;
}

UL {
	margin-right: 2em;
}

OL {
	margin-right: 4em;
}

OL.nomargin {
	margin-right: 0;
	margin-left: 0;
}

UL.LEADIN {
	list-style: none;
}

H1 {
	text-indent: 0;
	font-size: x-large;
	font-family: sans-serif;
	margin-top: 12pt;
	margin-bottom: 12pt;
}

H2 {
	text-indent: 0;
	margin-top: 12pt;
	font-size: large;
	font-family: sans-serif;
}

H3 {
	text-indent: 0;
	margin-top: 12pt;
	font-style: italic;
	font-family: sans-serif;
/*	font-size: large; */
/*	font-weight: normal; */
}
